<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
   	<title>Game Development Testbed</title>
   	<organization>UPC</organization>
	<load fileName="save_game.xml"></load> 
  </app>
	
  <renderer>
    <vsync value="true"/>
    <lerp value="0.085"/>
    <fast_lerp value="0.1"/>
    <speedcamera value="12"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="2.0" minScaleValue="0.25" maxScaleValue="5.0"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
	<folder>audio/fx/</folder>
	<fx 	jump="jump_sound.wav" 
		bomb="bomb.wav"
	    	button_1="b1.wav" 
		button_3="b3.wav"
	   	coin="coin.wav" 
		option_denied="option_denied.wav"
	    	powerup="powerup.wav" 
	>
	</fx>
  </audio>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
  	<folder>maps/</folder>
  </map>

  <entityManager>
	<load docnameSuitman="suitman.xml" docnameWanamingo="wanamingo.xml"/>
  </entityManager>

</config>