<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Hearts of Greed</title>
    <organization>UPC</organization>
    <load fileName="save_game.xml"></load>
  </app>

  <renderer>
    <vsync value="true"/>
    <lerp value="0.085"/>
    <fast_lerp value="0.1"/>
    <speedcamera value="12"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="2.0" minScaleValue="0.25" maxScaleValue="5.0" scaleFactor="0.25"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
    <folder>audio/fx/</folder>
    <fx 	jump="jump_sound.wav"
      bomb="bomb.wav"
          button_1="b1.wav"
      button_3="b3.wav"
        coin="coin.wav"
      option_denied="option_denied.wav"
          powerup="powerup.wav">
    </fx>
  </audio>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <minimap width="300" posX="0" posY="500"/>

  <entityManager>
	<load 
    docnameSuitman="suitman.xml" 
    docnameWanamingo="wanamingo.xml" 
    docnameTurret="turret.xml" 
    docnameArmoredman="armoredman.xml" 
    docnameRangedman="rangedman.xml"
    docnameRobotto="robotto.xml"
    docnamevfx="Vfx.xml" 
    docnameSpawner="spawner.xml"
    docnameBuildings="buildings.xml"
    docnameSkillAreas="skillAreas.xml"
    />
  </entityManager>

  <testScene 
    fadeTime="1.0"
    startingScale="2.0"
    camVel="700" 
    initialCamPosX="-1650" 
    initialCamPosY="800"
    dayTimerSec="300"
    nightTimerSec="250" 
    freeCamMarginDetectionPixelsX="20"
    freeCamMarginDetectionPixelsY="15"
    
    mapBordersUpperLeftCornerX="-1450"
    mapBordersUpperLeftCornerY="0"
    mapBordersBottomRightCornerX="1500"
    mapBordersBottomRightCornerY="1550"
    
    />
  
  <menuScene fadeTime="1.0"/>
  
  <introScene
    backgroundStartingAlphaValue="255"
    backgroundFinalAlphaValue="130"
    backgroundTransitionConstant="50"
    
    logoStartingAlphaValue="0"
    logoFinalAlphaValue="255"
    logoTransitionConstant="75"
    />

  <winScene
    fadeTime="1.0"
    medalPosX="50"
    medalPosY="0"    
  />

  <loseScene
    fadeTime="1.0"
    medalPosX="30"
    medalPosY="0"
  />

</config>