<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
   	<title>Game Development Testbed</title>
   	<organization>UPC</organization>
	<load fileName="save_game.xml"></load> 
  </app>
	
  <renderer>
    <vsync value="true"/>
    <lerp value="0.085"/>
    <fast_lerp value="0.1"/>
    <speedcamera value="12"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2.0" minScaleValue="0.25" maxScaleValue="5.0"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
	<folder>audio/fx/</folder>
	<fx 	jump="jump_sound.wav" 
		bomb="bomb.wav"
	    	button_1="b1.wav" 
		button_3="b3.wav"
	   	coin="coin.wav" 
		option_denied="option_denied.wav"
	    	powerup="powerup.wav" 
	>
	</fx>
  </audio>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
  	<folder>maps/</folder>
  </map>


  <scene>
	<folder>maps/</folder>
	<map1 path="first_map_v2.tmx"></map1>
	<map2 path="second_map.tmx"></map2>
	<intro_menu path="intro_menu.tmx"></intro_menu>
  </scene>

  <gui>

	<atlas file="gui/UI_Atlas_definitive.png"/>

  </gui>

  <player>
	<folder>textures/player</folder>
	<playerData initialX="20" initialY="0" speed="8" JumpAdjustMargin="0.35" jumpspeed="25" rocketJumpSpeed="30" gravity="5" speedcap="15" JumpingDelta="8" explosion_CD="50" deadFall="2200"></playerData>
	
	<bazooka x="0" y="0" w="70" h="18"></bazooka>

	<cursor x="0" y="20" w="62" h="62"></cursor>

	<collider rectX="0" rectY="0" rectW="20" rectH="50"></collider>
	
	<Animations>
		<idle frames="6" name="idle">

			<frame
				rposX="550" rposY="200" rwidth="20" rheight="49"
				time="5"
				pivotX="5" pivotY="34">
			</frame>

			<frame
				rposX="0" rposY="0" rwidth="20" rheight="48"
				time="5"
				pivotX="4" pivotY="32">
			</frame>

			<frame
				rposX="250" rposY="0" rwidth="19" rheight="49"
				time="5"
				pivotX="5" pivotY="32">
			</frame>

			<frame
				rposX="250" rposY="0" rwidth="19" rheight="49"
				time="5"
				pivotX="5" pivotY="32">
			</frame>
			<frame
				rposX="0" rposY="0" rwidth="20" rheight="48"
				time="5"
				pivotX="4" pivotY="32">
			</frame>
			<frame
				rposX="550" rposY="200" rwidth="20" rheight="49"
				time="5"
				pivotX="5" pivotY="34">
			</frame>
		</idle>

		<run frames="10" name="run">
			<frame
				rposX="600" rposY="51" rwidth="32" rheight="48"
				time="2"
				pivotX="11" pivotY="33">
			</frame>

			<frame
				rposX="649" rposY="53" rwidth="34" rheight="46"
				time="2"
				pivotX="13" pivotY="34">
			</frame>

			<frame
				rposX="699" rposY="56" rwidth="37" rheight="43"
				time="2"
				pivotX="17" pivotY="34">
			</frame>

			<frame
				rposX="749" rposY="54" rwidth="37" rheight="45"
				time="2"
				pivotX="17" pivotY="34">
			</frame>

			<frame
				rposX="600" rposY="104" rwidth="33" rheight="45"
				time="2"
				pivotX="12" pivotY="33">
			</frame>

			<frame
				rposX="649" rposY="102" rwidth="33" rheight="47"
				time="2"
				pivotX="13" pivotY="33">
			</frame>

			<frame
				rposX="699" rposY="100" rwidth="32" rheight="49"
				time="2"
				pivotX="11" pivotY="34">
			</frame>

			<frame
				rposX="749" rposY="100" rwidth="30" rheight="49"
				time="2"
				pivotX="9" pivotY="33">
			</frame>

			<frame
				rposX="600" rposY="150" rwidth="25" rheight="49"
				time="2"
				pivotX="6" pivotY="33">
			</frame>
			<frame
				rposX="649" rposY="150" rwidth="30" rheight="49"
				time="2"
				pivotX="10" pivotY="33">
			</frame>
		</run>


		<jump frames="7" name="jump">
			<frame
				rposX="50" rposY="50" rwidth="17" rheight="48"
				time="6"
				pivotX="8" pivotY="35">
			</frame>			

			<frame
				rposX="100" rposY="50" rwidth="24" rheight="48"
				time="6"
				pivotX="11" pivotY="35">
			</frame>

			<frame
				rposX="150" rposY="50" rwidth="29" rheight="42"
				time="6"
				pivotX="14" pivotY="32">
			</frame>

			<frame
				rposX="0" rposY="100" rwidth="30" rheight="38"
				time="6"
				pivotX="14" pivotY="33">
			</frame>

			<frame
				rposX="50" rposY="100" rwidth="32" rheight="35"
				time="6"
				pivotX="15" pivotY="32">
			</frame>

			<frame
				rposX="100" rposY="100" rwidth="28" rheight="41"
				time="6"
				pivotX="13" pivotY="32">
			</frame>

			<frame
				rposX="150" rposY="100" rwidth="20" rheight="46"
				time="60000"
				pivotX="4" pivotY="32">
			</frame>
		</jump>

		<rocketJump frames="1" name="rocketJump">
			<frame>
				rposX="0" rposY="150" rwidth="19" rheight="45"
				time="600000"
				pivotX="3" pivotY="32">
			</frame>
		</rocketJump>

		<dead frames="9" name="dead" time="90">
			<frame
				rposX="451" rposY="0" rwidth="24" rheight="49"
				time="10"
				pivotX="12" pivotY="32">
			</frame>
		
			<frame
				rposX="500" rposY="3" rwidth="28" rheight="46"
				time="10"
				pivotX="17" pivotY="29">
			</frame>

			<frame
				rposX="550" rposY="6" rwidth="36" rheight="43"
				time="10"
				pivotX="23" pivotY="28">
			</frame>

			<frame
				rposX="400" rposY="60" rwidth="42" rheight="39"
				time="10"
				pivotX="31" pivotY="25">
			</frame>

			<frame
				rposX="450" rposY="68" rwidth="44" rheight="29"
				time="10"
				pivotX="32" pivotY="17">
			</frame>

			<frame
				rposX="500" rposY="68" rwidth="47" rheight="31"
				time="10"
				pivotX="36" pivotY="13">
			</frame>

			<frame
				rposX="400" rposY="122" rwidth="45" rheight="26"
				time="10"
				pivotX="33" pivotY="15">
			</frame>

			<frame
				rposX="450" rposY="129" rwidth="47" rheight="20"
				time="10"
				pivotX="33" pivotY="16">
			</frame>

			<frame
				rposX="500" rposY="129" rwidth="48" rheight="20"
				time="10"
				pivotX="35" pivotY="17">
			</frame>
		</dead>
	</Animations>

  </player>

  <entity_manager>
	<entity_doc>entityInfo.xml</entity_doc>
  </entity_manager>

</config>